#bloc_page
{
	width:900px;
	margin:auto;	
}

body
{
	font-family: Arial, Verdana, sans-serif ;
	
}
#c
{
	font-size:60px;
	color:#DC493A;
}
header
{
	position: relative;
	right: 0px;
	top: 3px;
	font-size: 45px;
	background-color:white ;
	color: black;
}
nav
{
	position: absolute;
	widht:408px;
	height:50px;
	top: 20px;
	left:570px;
	color: white;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
nav ul li
{
	float:left;
	line-height: normal;
	margin-left: 15px;
}
nav ul li a
{
	font-size: 18px;
	font-family: Arial,Verdana, sans-serif;
	color:black ;
	text-transform: capitalize;
	font-weight: normal;
	display: block;
	background-color: transparent;
	text-decoraion: none;
	margin-top: 3px;
	padding: 5px;
	list-style-type: none;
}
nav ul
{
	list-style-type: none;
}
a
{
	text-decoration: none;
	
}
nav ul li a:hover
{
	color:orange;
	border-bottom: 3px solid #DC493A;
}
a:active
{
	
}

article
{
	background-color:
	width: 100%;
	height: 500px;
}

footer a:hover
{
	text-decoration: underline;
}
footer
{
	text-align: center;
	heigh: 100px;
}
